body{
	font-family: Verdana,sans-serif;
	background-color: black;
}
.timeline-area{
	width: 420px;
	margin : 0px auto;
	border-right: 5px solid #252531;
	padding : 0 20px 0 30px;

}
section>div{
	background-color: #252531;
	padding: 10px 10px;
	font-size: 16px;
	/*border : 1px solid yellow;*/
	position: relative;
	height: 180px;
	margin-bottom: 20px;
	line-height: 1.3;
}

.title{
	color: #DCDCDC;
	opacity: 100%;
	font-size: 20px;
	padding: 8px;
	display: inline;

}
.description{
	font-size: 16px;
	color: rgba(255,255,255,0.4);
	padding-left: 8px;
}
a{
	text-decoration: none;
	color: #FEC02F;
	font-size: 16px;
	padding-left: 8px;
}
a:hover{
	color: #e5ea0d;
}
.timebox{
	font-size: 12px;
	color: rgba(255,255,255,0.3);
	float: right;	
	background: #0000006b;
	display: inline;
	padding: 5px 11px;
	border-radius: 5px;

}
div::before{
	content:'';
	display: block;
	width:16px;
	height: 15px;
	border-radius: 50%;
	background-color: black;
	border: 4px solid #e4ba2f;
	position: absolute;
	top: 10px;
	right: -34px;
	
}
/*div::after{
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent transparent transparent white;
	position: absolute;
	right: -5px;
	top: 18px;
}*/

