*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  background: #1E1E28;
  color: #444;
  /*font-family: 'Lato', Tahoma, Geneva, sans-serif;*/
  font-size: 16px;
  padding: 10px;
  overflow-y: hidden;
}

hr{
  width: 80%;
  margin-top: 35px;
  border: 1px solid rgba(220, 220, 220, 0.2);
}

.sidenav {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.circular-img{
  border-radius: 50%;
  height: 10%;
  width: 50%;
  margin-left: 50px;
 }
h4,h5,p{
  text-align: center;
  font-family: Poppins;
font-style: normal;
font-weight: normal;
letter-spacing: 0.04em;
color: #F8F8F8;
}
.firstpart{
box-shadow: 5px 5px 5px 5px #252531;
  background: #252531;
}


.set-size {
  font-size: 2.5em;
}
.charts-container:after {
  clear: both;
  content: "";
  display: table;
}
.pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  margin: 15px;
  position: relative;
}
.pie-wrapper:nth-child(3n+1) {
  clear: both;
}
.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.1em solid #3498db;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  background: #34495e;
  border-radius: 50%;
  bottom: 0.4em;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.6em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: .45em;
  padding-bottom: 20px;
  vertical-align: super;
}

.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.1em solid #bdc3c7;
  border-radius: 50%;
}
.pie-wrapper.style-2 .label {
  background: none;
  color: #7f8c8d;
}
.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}

.pie-wrapper.progress-45 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-45 .pie .half-circle {
  border-color: #FEC02F;
}
.pie-wrapper.progress-45 .pie .left-side {
  transform: rotate(162deg);
}
.pie-wrapper.progress-75 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-75 .pie .right-side {
  transform: rotate(180deg);
}
.pie-wrapper.progress-75 .pie .half-circle {
  border-color: #FEC02F;
}
.pie-wrapper.progress-75 .pie .left-side {
  transform: rotate(270deg);
}
.pie-wrapper.progress-95 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-95 .pie .right-side {
  transform: rotate(180deg);
}
.pie-wrapper.progress-95 .pie .half-circle {
  border-color:#FEC02F ;
}
.pie-wrapper.progress-95 .pie .left-side {
  transform: rotate(342deg);
}




/*line bar designing*/
.progress {
  margin:5px auto;
  padding:0;
  width:90%;
  height:8px;
  overflow:hidden;
  background:#e5e5e5;
  border-radius:6px;
}

.bar {
  position:relative;
  float:left;
  min-width:1%;
  height:100%;
  background:#FEC02F;
}

.percent {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  font-family:tahoma,arial,helvetica;
  font-size:12px;
  color:white;
}

#lineblock{
  margin-top: -13px;
}
#HASH {
  display: flex;
  justify-content: space-between;
  color: #DCDCDC;
}
#time-HASH{
  margin-left:10px;
}
#percent-HASH{
  margin-right: 10px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}