body{
	font-size: 16px;
	color: #fff;
	background-color: #ffffff;
	font-family: 'Oxygen', sans-serif;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  background-color:#252531; 
  border-radius: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 10px 10px;
  
}

.card a{
  color:#fec02f;
  text-decoration: none;
}

.card p{
  font-size: 16px;
}


/********** Large devices only **********/

@media (min-width: 1200px) {
	
	
  }

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  

  
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

 

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
 
}